<template name="intro">
    <div class="parallax-container">
        <div class="parallax"><img src="images/intro-background-1.jpg"></div>
    </div>
    <div class="container">
        <p class="flow-text">
        Welcome to my portfolio website. Here, you can find comprehensive details on my
        employment history, work experience & side projects, skill set, and contact information.
        I'd like to tell you a little about myself now.
        </p>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="images/intro-background-2.jpg"></div>
    </div>
    <div class="container">
        <p class="flow-text">
        I'm a versatile software engineer first and foremost. I first got into computers and
        programming when I was 12 years old and introduced to game programming. Ever since, my
        years have been filled with tinkering on games, web design, desktop applications, and mobile
        applications. Due to the content-heavy nature of this work, I also have tangentially
        garnered experience in a variety of artistic fields, be it including music making,
        video production, graphic design, writing, 3D modeling, and more.
        </p>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="images/intro-background-3.jpg"></div>
    </div>
    <div class="container">
        <p class="flow-text">
        I value hard work above all else. Many people have amazing natural abilities- some
        are able to immediately grasp complex idea, some can memorize extremely large amounts of
        information- but I think that dedication and willpower are what set me apart. I
        approach problems I can't solve from every angle when they come to me, I don't give in 
        to frustration or hopelessness, and I am competent at always retaining a logical
        and analytical mind. I also place strong emphasis on self-improvement- I believe
        that no matter how efficient a worker I become, no matter how competent at any given
        task, there is always room for improvement, a trait that I think is best achieved
        by remaining humble, self-critical, and taking responsibility for everything
        one can take responsibility for.
        </p>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="images/intro-background-4.jpg"></div>
    </div>
    <div class="container">
        <p class="flow-text">
        In terms of interests, I have a lot of hobbies- parkour, weight lifting, swimming, boxing,
        water polo, movies, games, books- so it's generally pretty easy for me to find something
        in common with someone else, or at least have something interesting to talk about. I
        consider myself a very sociable person, get along well with others and am totally comfortable
        in both leadership roles or following orders, so long as I'm able to function in an
        environment that challenges my skills. Although I function well with teams, I also
        am a completely autonomous worker, and don't require hand holding to wrap my head
        around new ideas or catch up to speed when jumping into the middle of new projects.
        </p>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="images/intro-background-5.jpg"></div>
    </div>
</template>
