<template name="navigation">
    <nav class="red darken-3">
        <div class="nav-wrapper container red darken-3">
            <a href="/" class="brand-logo">James Whiteman</a>
            <a href="#" data-activates="nav-collapsed" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/connect">Connect</a></li>
                <li><a href="/employment">Employment</a></li>
                <li><a href="/experience">Experience</a></li>
                <li><a href="/skills">Skills</a></li>
            </ul>
            <ul class="side-nav" id="nav-collapsed">
                <li><a href="/connect">Connect</a></li>
                <li><a href="/employment">Employment</a></li>
                <li><a href="/experience">Experience</a></li>
                <li><a href="/skills">Skills</a></li>
            </ul>
        </div>
    </nav>
</template>
